*
!public/download/monitoreoEvaluacion
!.gitignore
!monitoreoEvaluacion
!monitoreoEvaluacion/*
!monitoreoEvaluacion/

!public/download/analisisDepartamental
!analisisDepartamental
!analisisDepartamental/*
!analisisDepartamental/

!public/download/0011
!0011
!0011/*
!0011/


!public/download/0012
!0012
!0012/*
!0012/

!public/download/0014
!0014
!0014/*
!0014/

!public/download/alertas
!alertas
!alertas/*
!alertas/

!public/download/ern
!ern
!ern/*
!ern/

!public/download/rac
!rac
!rac/*
!rac/