*
!public/download/monitoreoEvaluacion
!.gitignore
!monitoreoEvaluacion
!monitoreoEvaluacion/*
!monitoreoEvaluacion/

!public/download/analisisDepartamental
!analisisDepartamental
!analisisDepartamental/*
!analisisDepartamental/

